{% apply spaceless %}
    <div class="timeline-end {{ this.getClasses }}" {{- attributes -}}>
        {%- if block('content') is defined -%}
            {{ block('content') }}
        {%- endif -%}
    </div>
{% endapply %}
