{% apply spaceless %}
<div role="alert" class="{{ this.getClasses }}" {{- attributes -}}>
    {%- if block('content') is defined -%}
        {{ block('content') }}
    {%- endif -%}
</div>
{% endapply %}
